<div class="app-container">
  <div class="top-bar"></div>

  <!-- Ícone do menu tipo hambúrguer -->
  <label for="menu-toggle" class="menu-icon" (click)="toggleMenu()">&#9776;</label>

  <div class="content">
    <!-- Adicionando a propriedade isMobile aqui -->
    <app-menu class="menu" [isMenuOpen]="isMenuOpen" [isMobile]="isMobile" (menuToggle)="toggleMenu()"></app-menu>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">Rodapé fixo</div>
</div>
