nav {
    display: flex;
    flex-direction: column;
  }
  
  a {
    padding: 15px;
    text-decoration: none;
    color: white; /* Letras brancas */
  }
  
  a:hover {
    background-color: #444; /* Cor ao passar o mouse */
  }
  